<aside>
    <button onclick="showMenu()">Menu</button>
    <ul id="ulListMenu">
   
          {{#if nameOfUser}} 
            <li class="list registerOpen">
                <form action="/openProfile" method="get" class="">
                 <input type="submit" class="menuBtn" value="{{nameOfUser}}" >
            </form>
           <form action="/openFav" method="get" class="">
                 <input type="submit" class="menuBtn" value="Ulubione" >
            </form>
                <form action="/logout" method="get" class="">
                 <input type="submit" class="menuBtn" value="Wyloguj się" >
            </form>
         </li>
          {{else}} 
               <li class="list"><form action="/openRegister" method="get" class="registerOpen">
                <input type="submit" class="menuBtn" value="Zarejestruj się/Zaloguj się" >
            </form>   </li>
            {{/if}}
     
        <li class="list">
            <form action="/" method="get">
                <input type="submit" class="menuBtn" value="Strona główna" name="category">
        </li>
        </form>
        <li> <a></a> </li>
        <li><a class="category">Kategorie: </a></li>
        <li> <a></a> </li>
        <form action="/category" method="get" class="">
            <li class="list"> <input type="submit" class="menuBtn" value="Akcja" name="category"></li>
            <li class="list"> <input type="submit" class="menuBtn" value="Komedia" name="category"></li>
            <li class="list"><input type="submit" class="menuBtn" value="Dramat" name="category"></li>
            <li class="list"><input type="submit" class="menuBtn" value="Romans" name="category"></li>
        </form>
        <li> <a></a> </li>
        <form action="/contact" method="get" class="">
            <li class="list"><input type="submit" class="menuBtn" value="Kontakt"></li>
        </form>
        <li> <a></a> </li>

        <li><img src="https://png.pngtree.com/element_origin_min_pic/16/10/10/2357fbaf5171ff3.jpg" alt="statuetka"
                width="142" height="222"></li>
    </ul>
</aside>