<!DOCTYPE html>
<html lang="pl">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/menu.js"></script>
    <script src="/js/show-hide.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/update.js"></script>
    <script src="/js/pagination.js"></script>
    <title>Świat ekranu</title>
</head>

<body>
    <header>
        <div class="headerDivText">
            <h1>{{ category}}</h1>
        </div>
    </header>
    {{> partial1}}
    <article>
        <br><br>
        <h2>Najczęsciej wyświetlane</h2>
        <br><br>

        {{#each results}}
        <div class="filmItem">
         
            <h2 class="filmTitle">{{tytul}}</h2>
            <button class="accordion" style="background-image: url('{{zdj}}')"></button>
        </div>
        <p class="filmDesc">{{opis}}</p>
          {{#if ../nameOfUser}}
        <form action="/addFav" method="get" >
          <input value="{{id}}" type="hidden" name="id">
        <button class="favBtn"> Dodaj do ulubionych </button>
        </form> {{/if}}
            <p> Autor: {{username}}</p>
        <hr>
        {{/each}}
        <br><br><br>
    </article>
    <footer>&copy; Wykonała Magdalena Kędzia</footer>
</body>

</html>