<!DOCTYPE html>
<html lang="pl">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Świat ekranu</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/send-message-ajax.js"></script>
</head>

<body>
    <header>
        <div class="headerDivText">
            <h2>Świat ekranu</h2>
        </div>
      
    </header>
   {{> partial1}}

    <article>
        <br><br>
        <form class="messageForm">
            <h5>Email: </h5>
            <input type="email" class="titleMessage" id="emailMessage" required>
            <h5>Temat:</h5>
            <input type="text" class="titleMessage" id="titleMessage" required>
            <h5>Wiadomość:</h5>
            <textarea class="message" id="message" required></textarea><br>
            <input class="messageSend" type="submit" value="Wyślij">
        </form>
        <div class="contactLink">
            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
            <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
            <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
        </div>
        <br><br><br>
    </article>
    <footer>&copy; Wykonała Magdalena Kędzia</footer>

</body>

</html>