<!DOCTYPE html>
<html lang="pl">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script  src="https://www.gstatic.com/charts/loader.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
       <link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
    <script src="/js/menu.js"></script>
    <script src="/js/show-hide.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/update.js"></script>
    <script src="/js/pagination.js"></script>
    <title>Świat ekranu</title>
</head>

<body>
    <header>
        <div class="headerDivText">
            <h2><i>Świat ekranu</i></h2>

        </div>
        </header>
    {{> partial1}}
    
    <article class="modal">
        <h1 class="center">Więcej informacji już wkrótce! </h1>
        <button class="modalClose">OK</button>
    </article>
    <article id="article1">
        <br>
        <div id="flip">Kliknij i zobacz wyniki oskarów 2019!</div>
        <div id="winners">

            <pre>
 NAJLEPSZY FILM: Green Book
 REŻYSER: Alfonso Cuarón - Roma
 AKTORKA: Olivia Colman - Faworyta
 AKTOR: Rami Malek - Bohemian Rhapsody
 AKTOR DRUGOPLANOWY: Mahershala Ali - Green Book
 AKTORKA DRUGOPLANOWA: Regina King - If Beale Street Could Talk
 SCENARIUSZ ORYGINALNY: Green Book
 SCENARIUSZ ADAPTOWANY: BlacKkKlansman
 ZDJĘCIA: Alfonso Cuaron - Roma
 NAJLEPSZY UTWÓR: Shallow - Lady Gaga, Mark Ronson, Bradley Cooper
 PEŁNOMETRAŻOWY FILM ANIMOWANY: Spierman Uniwersum 
 FILM NIEANGLOJĘZYCZNY: Roma - MEKSYK
 NAJLEPSZY SCENARIUSZ ADAPTOWANY: BlacKkKlansman 
 KOSTIUMY: Ruth Carter - Black Panther
 MUZYKA: Czarna pantera - Ludwig Goransson
 FILM KRÓTKOMETRAŻOWY: Skin
 EFEKTY SPECJALNE: First Man
 KRÓTKOMETRAŻOWY FILM ANIMOWANY: Bao 
 NAJLEPSZY PEŁNOMETRAŻOWY FILM DOKUMENTALNY: Free Solo
 NAJLEPSZY MONTAŻ: Bohemian Rhapsody
 NAJLEPSZY KRÓTKOMETRAŻOWY FILM DOKUMENTALNY: Period. End of Sentence
 NAJLEPSZA SCENOGRAFIA: Czarna Pantera - ZWYCIĘZCA          
 NAJLEPSZY MONTAŻ DŹWIĘKU: Bohemian Rhapsody
 NAJLEPSZY DŹWIĘK: Bohemian Rhapsody 
 NAJLEPSZA CHARAKTERYZACJA: Vice
          </pre>
        </div>
        <br><br>
       
        <h4>Rankig filmów według ocen: </h4><br>
        <table id="myTable">
            <tr>
                <td><b>Tytuł</b></td>
                <td><b>Gatunek</b></td>
                <td><b>Obsada</b></td>
            </tr>
            <tr>
                <td>Narodziny gwiazdy</td>
                <td>Dramat</td>
                <td>Lady Gaga, Bradley Cooper, Sam Elliott, Dave Chappelle, Anthony Ramos
                </td>
            </tr>
            <tr>
                <td>Zanim się pojawiłeś</td>
                <td>Dramat</td>
                <td>Emilia Clarke, Sam Claflin, Janet McTeer,Charles Dance, Brendan Coyle, Stephen Peacocke</td>
            </tr>
            <tr>
                <td>Kac Vegas </td>
                <td>Komedia</td>
                <td>
                    Bradley Cooper, Justin Bartha, Ed Helms, Zach Galifianakis, Heather Graham
                </td>
            </tr>
            <tr>
                <td> Wonder Woman </td>
                <td>Akcja</td>
                <td>
                    Gal Gadot, Chris Pine, Robin Wright
                </td>
            </tr>
            <tr>
                <td>Szybcy i wściekli 8</td>
                <td> Akcja</td>
                <td>
                    Vin Diesel, Dwayne Johnson, Jason Statham
                </td>
            </tr>
            <tr>
                <td>Gwiazd naszych wina </td>
                <td>Dramat</td>
                <td>
                    Shailene Woodley, Ansel Elgort, Nat Wolff
                </td>
            <tr>
                <td>Love, Rosie</td>
                <td>Romans</td>
                <td>
                    Lily Collins, Sam Claflin, Christian Cooke
                </td>
            </tr>
        </table><br>
        <button class="update" id="update" onclick="update()">Aktualizuj</button>
        <br><br>
        <div id="slider">
            <button class="control_next">>
          </button>
            <button class="control_prev">&lt;</button>
            <ul>
              <li class="slide1"></li>
              <li class="slide2"></li>
              <li class="slide3"></li>
              <li class="slide4"></li>
            </ul>  
          </div>
    </article>
    <article id="article2"> 
        <br><br><br>
        <h4> JUŻ WKRÓTCE! </h4>
        <hr>
        <div>
            <h6>Król lew - 18 lipca 2019 </h6>
            <img src="https://cdn3.movieweb.com/i/article/mAKkktxKf5eyEjFaEDM6mKEbiIPwE9/738:50/The-Lion-King-Tv-Spot-Oscars.jpg"
                alt="Król lew">
        </div>
        <hr>
        <div>
            <h6>Annabelle wraca do domu - 12 lipca 2019 </h6>
            <img src="https://puszczamzdymem.files.wordpress.com/2017/08/annabelle-1050x591.jpg"
                alt="Annabelle wraca do domu" width="738" height="388">
        </div>
        <br> <br>
    </article>
    <article> <h4 class="displayNone">Pagination</h4>
        <br>
        <div id="pagination">
            <button class="pagination1" onclick="page1()">1</button>
            <button class="pagination2" onclick="page2()">2</button>
        </div>
        <form action="/contact" method="get" class="">
          <button class="contactUs">  <img src="https://bizbuilder.com/wp-content/uploads/2019/02/Contact-Us-Banner-1024x243-copy-copy.png"
                alt="contactUs"></button>
        </form>

    </article>
    <footer> &copy; Wykonała Magdalena Kędzia</footer>

</body>
</html>