<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/menu.js"></script>
    <script src="/js/show-hide.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/update.js"></script>
    <script src="/js/pagination.js"></script>
    <title>Świat ekranu</title>
</head>

<body>
   
    <header>
        <div class="headerDivText">
           {{#each user}}   <h1>Profil użytkownika {{username}}</h1> {{/each}}
        </div>
    </header>
    {{> partial1}} 

        {{#each user}} 
    <article class="profileContainer">
<div class="photoProfile">
<img src='../uploads/{{photo}}' style='width:250px' class="userImg ">
<h4 class="userData">{{username}}</h4>
<h4 class="userData">Email: {{email}}</h4>
<h4 class="userData">Płeć: {{gender}}</h4>
  {{/each}}
</div>
<div class="infoProfile">
   <h2 class="userData">Filmy dodane przez użytkownika</h2>
     {{#if mes}} <h3>Brak</h3>  {{/if}}

     {{#each movie}} 
 
  <button class="accordion2" style="background-image: url('{{zdj}}')">{{tytul}}</button>
      {{/each}}
</div>
    </article>
    
    <footer>&copy; Wykonała Magdalena Kędzia</footer>
</body>

</html>