<!DOCTYPE html>
<html lang="pl">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/menu.js"></script>
    <script src="/js/show-hide.js"></script>
    <title>Świat ekranu</title>
</head>

<body>
    <header>
        <div class="headerDivText">
            <h1>Zarejestruj lub zaloguj</h1>
        </div>
    </header>
    {{> partial1}}
    <br> <br> <br>
    <article class="loginAndRegisterContainer">
        <div class="register">
            <form action="/register" method="post" class="loginForm height registerForm " enctype="multipart/form-data">
                <h4 class="textCenter">Zarejestruj się</h4> <br>
              <br>     Nazwa użytkownika: <br>
                <label class="sr-only" for="inlineFormInputGroupUsername2">Nazwa
                    użytkownika</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                    </div>

                    <input type="text" name="username" class="form-control" id="inlineFormInputGroupUsername2"
                        placeholder="Podaj nazwę użytkownika" required>
                </div>

              <br>     E-mail: <br> <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Podaj email" required>


              <br>     Twoje hasło: <br><input type="password" name="password" id="inputPassword4" class="form-control"
                    aria-describedby="passwordHelpBlock" placeholder="Podaj hasło" required>
               <br>    Powtórz hasło: <br><input type="password" name="password2" id="inputPassword5" class="form-control"
                    aria-describedby="passwordHelpBlock" placeholder="Powtórz hasło" required>

  <br> <label>Płeć </label><br>       
 <div class="form-group">
            <select id="select" class="custom-select" name="gender" required>
                <option value="">Wybierz płeć</option>
                <option value="Kobieta">Kobieta </option>
          <option value="Mężczyzna">Mężczyzna </option>
            </select>
            <div class="invalid-feedback red">Musisz wybrać kategorię do jakiej zalicza się danie! </div>
        </div>
           

  <br> <label>Wybierz zdjęcie profilowe:</label><br>
                 {{!-- <div class="custom-file file-field input-field"> --}}

  <input type="file" name="myImage"  id="customFiles"  required>

  {{!-- <label class="custom-file-label" for="customFiles">Wybierz pliki</label> --}}
{{!-- </div> <br>  --}}
<br><br>

                <label><input type="checkbox" name="regulamin" required /> Akceptuję regulamin</label>
                <br>

                <input type="submit" class="btn btn-warning registerBtn" value="Zarejestruj się" />
            </form>


        </div>
        {{!-- ------------ --}}
        <div class="login">
            <form action="/login" method="get" class="loginForm">
                <h4 class="textCenter">Zaloguj się</h4> <br>
                Nazwa użytkownika: <br>
                <label class="sr-only" for="inlineFormInputGroupUsername2">Nazwa użytkownika</label>
                <div class="input-group mb-2 mr-sm-2">

                    <input type="text" name="username" class="form-control" id="inlineFormInputGroupUsername2"
                        placeholder="Podaj nazwę użytkownika" required>
                </div>


                Hasło: <br><input type="password" name="password" id="inputPassword5" class="form-control"
                    aria-describedby="passwordHelpBlock" placeholder="******"><small id="passwordHelpBlock"
                    class="form-text text-muted" required>
                </small> <br>


                <input type="submit" class="btn btn-warning LoginBtn" value="Zaloguj się" />
            </form>

        </div>
    </article>
</body>