footer {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

header {
    text-align: center;
    background-color: #f6f6f6;
    margin: -10px;
    height: 75px;
    min-height: 150px;
    padding: 33px;
}

h2 {
    text-align: center;
}

.contactUs {
    border: none;
    background-color: transparent;
}

.menuBtn {
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.menuBtn:hover {
    background-color: #555;
    color: white;
}

.headerDivText {
    z-index: 3;
    position: relative;
}

.headerDivImg {
    position: absolute;
    left: 60%;
    top: 10px;
    z-index: 2;
}

.filmItem {
    display: flex;
    JUSTIFY-CONTENT: space-around;
    /* flex-direction: row; */
}

.filmTitle {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
}

.filmDesc {
    padding: 5px;
    margin: -50px 10px 20px 10px;
    text-indent: 50px;
    letter-spacing: 1px;
}

h4 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* padding-top: 100px; */
    top: 0px;
    width: 20%;
    background-color: #f6f6f6;
    position: fixed;
    /* height: 100%; */
    overflow: auto;
}

.hereIam {
    color: gray;
}

aside button {
    display: none;
}

li a, li img {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

.list a:hover:not(.active) {
    background-color: #555;
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dddddd;
}

td, th {
    padding: 5px;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f6f6f6;
}

aside {
    background-color: #f6f6f6;
}

article {
    margin-left: 23%;
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    max-width: 500px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    height: 200px;
    transition: 0.4s;
}
.accordion2 {
    margin-left: 15%;  
    margin-right: 15%; 
    margin-bottom: 5px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    max-width: 500px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    height: 200px;
    transition: 0.4s;
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
    font-weight: bold;
}
.favBtn {
    background-color: rgb(150, 229, 240); 
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    margin-left: 35%;
  }
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.accordion:hover+.panel {
    display: inline;
    overflow: visible;
}

#flip, #winners {
    background-color: rgba(190, 190, 190, 0.555) !important;
}

#flip {
    cursor: pointer;
}

#winners {
    display: none;
}

form h5 {
    margin: 15px 0 0 0;
}

.messageForm {
    margin-left: 15%;
    margin-right: 15%;
}

.messageSend {
    margin-left: calc(100% - 145px);
    width: 150px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #f6f6f6;
    border: 1px solid rgb(223, 223, 223);
}

.message {
    resize: none;
    width: 100%;
    height: 180px;
    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
}

.titleMessage {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
}

.contactLink {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px;
}

.fa {
    padding: 20px;
    font-size: 40px !important;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 25%;
    border-radius: 50%;
    opacity: 0.7;
}

.fa:hover {
    opacity: 0.9;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #ff0000;
    color: white;
}

.fa-instagram {
    background: #E4405F;
    color: white;
}

.headerDivImgContact {
    margin-top: 35px;
}

.modal {
    -webkit-box-shadow: 10px 10px 52px -9px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 10px 10px 52px -9px rgba(0, 0, 0, 0.22);
    box-shadow: 10px 10px 52px -9px rgba(0, 0, 0, 0.22);
    border: 1px solid rgba(128, 128, 128, 0.37);
    top: 30%;
    width: 50%;
    margin-left: 25%;
    height: 140px;
    z-index: 3;
    background-color: #ffffff;
    position: fixed;
    visibility: hidden;
}

.modal.is-visible {
    visibility: visible;
}

.modal.is-no-visible {
    visibility: hidden;
}

.modalClose {
    float: right;
    background-color: rgba(59, 88, 152, 0.603);
    height: 40px;
    margin: 15px;
}

.center {
    text-align: center;
}

/* KONTAKT */

form h5 {
    margin: 15px 0 0 0;
}

.messageForm {
    margin-left: 15%;
    margin-right: 15%;
}

.messageSend {
    margin-left: calc(100% - 145px);
    width: 150px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #f6f6f6;
    border: 1px solid rgb(223, 223, 223);
}

.message {
    resize: none;
    width: 100%;
    height: 180px;
    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
}

.titleMessage {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
}

.contactLink {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px;
}

.fa {
    padding: 20px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 25%;
    border-radius: 50%;
    opacity: 0.7;
}

.fa:hover {
    opacity: 0.9;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #ff0000;
    color: white;
}

.fa-instagram {
    background: #E4405F;
    color: white;
}

.headerDivImgContact {
    margin-top: 35px;
}

.update {
    float: right;
    background-color: rgba(59, 88, 152, 0.603);
    height: 40px;
    margin: 15px;
}

#article2 {
    display: none;
}

#pagination {
    text-align: center;
}

.pagination1, .pagination2 {
    background-color: rgba(59, 88, 152, 0.397);
}

#article2 {
    text-align: center;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
}

.displayNone {
    display: none;
}

/*------------------------- slider --------------------------*/

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    width: 480px;
    /* minus margin */
    height: 480px;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 2000px;
    /* 4 x 500 */
    height: 500px;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 500px;
    text-align: center;
}

.slide1 {
    background: url('img/ng.jpg');
}

.slide2 {
    background: url('img/kv.jpg');
}

.slide3 {
    background: url('img/zsp.jpg');
}

.slide4 {
    background: url('img/ww.png');
}

.control_prev, .control_next {
    position: absolute;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: 15px;
    height: 100%;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
    border: 0;
}

.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

@media screen and (max-width: 900px) and (min-width: 750px) {
    ul {
        width: 100%;
        position: sticky;
    }
    li img {
        display: none;
    }
    .accordion {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    #ulListMenu {
        display: none;
        background-color: #f6f6f6c9;
        position: fixed;
        top: 30px;
    }
    article {
        margin-left: 10px;
    }
    aside button {
        display: inline;
        background-color: #f6f6f6ef;
        position: fixed;
        top: 0;
        min-width: 100%;
        margin: 0;
        padding: 0;
        min-height: 50px;
        border: none;
    }
}

.registerOpen {
    padding-top: 40px;
    padding-bottom: 40px;
}

.register, .login {
    padding: 30px;
    margin: 5px;
    background-color: rgba(136, 136, 136, 0.068);
    width: 90%;
    border-radius: 5px;
    border: 1px solid rgba(187, 187, 187, 0.295);
    -webkit-box-shadow: -1px 10px 35px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 35px -11px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 35px -11px rgba(0,0,0,0.75);
}
.profileContainer
    {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;  
}
.infoProfile{
    border-left: 5px solid rgba(0, 0, 0, 0.199);
}
.userData{
    text-align: center;
    padding: 10px;
}
.addPost{
    resize: none;
    border-radius: 5px;
}
.addPostDiv{
    padding: 10px;
    margin: 20px;
    background-color: #2a2a2a1a;
    border-radius: 5px;
}
.addPostForm{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
    align-content: stretch;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.userImg{
    border: 10px solid #2a2a2a1a;
    border-radius: 2px;
    
}

.loginAndRegisterContainer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}
.LoginBtn, .registerBtn{
    float: right;
}
/* ------------------media end ---------- */

@media screen and (max-width: 750px) and (min-width: 500px) {
    ul {
        width: 100%;
        position: sticky;
    }
    li img {
        display: none;
    }
    .accordion {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    #ulListMenu {
        display: none;
        background-color: #f6f6f6c9;
        position: fixed;
        top: 30px;
    }
    article {
        margin-left: 10px;
    }
    aside button {
        display: inline;
        background-color: #f6f6f6ef;
        position: fixed;
        top: 0;
        min-width: 100%;
        margin: 0;
        padding: 0;
        min-height: 50px;
        border: none;
    }
    .loginAndRegisterContainer {
        padding: 20px;
        display: block;
    }
}

/* ------------------media end ---------- */

@media screen and (max-width: 500px) {
    ul {
        width: 100%;
        position: sticky;
    }
    li img {
        display: none;
    }
    .accordion {
        width: 100%;
        margin: 0;
    }
    #ulListMenu {
        display: none;
        background-color: #f6f6f6c9;
        position: fixed;
        top: 30px;
    }
    article {
        margin-left: 10px;
    }
    aside button {
        display: inline;
        background-color: #f6f6f6ef;
        position: fixed;
        top: 0;
        min-width: 100%;
        margin: 0;
        padding: 0;
        min-height: 50px;
        border: none;
    }
    .loginAndRegisterContainer {
        padding: 20px;
        display: block;
    }
}

/* ------------------media end ---------- */